<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BUS.Properties.Settings.banhangConnectionString" connectionString="Data Source=DESKTOP-G6PP4N5;Initial Catalog=banhang;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>